.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
}

nav {
	grid-row-start: 2;
	grid-column: 1/4;
}

nav ul {
	display: flex;
}

nav ul > li {
	flex: 1;
	height: 3rem;
	padding: 2rem;
}


section {
	grid-row-start: 3;
	padding: 2rem;
}

footer {
	grid-row-start: 4;
}
