ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	font-size: 2rem;
	background: #ffffff;
}

nav li:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7eb85+0,ff4e32+100&0.2+5,0.5+100 */
	background: -moz-linear-gradient(top, rgba(247,235,133,0.2) 0%, rgba(247,227,129,0.2) 5%, rgba(255,78,50,0.5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(247,235,133,0.2) 0%,rgba(247,227,129,0.2) 5%,rgba(255,78,50,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(247,235,133,0.2) 0%,rgba(247,227,129,0.2) 5%,rgba(255,78,50,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f7eb85', endColorstr='#80ff4e32',GradientType=0 ); /* IE6-9 */
	transition: background 2s ease;
}
