@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:700|Proza+Libre:800|Rubik|Taviraj:600');

h1 {
	box-shadow: 0 1px 2px 1px rgba(255, 78, 50, 0.6), 0 -1px 2px 1px rgba(246, 204, 85, 0.6), 1px 0 2px 1px rgba(60, 40, 249, 0.6), -1px 0 2px 1px rgba(9, 198, 58, 0.6);
}

h2 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 5rem;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Proza Libre', sans-serif;
	font-weight: 800;
}

a.home {
	text-transform: uppercase;	
}

a.home:hover:after {
	position: absolute;
	content: "the quick way home";
	border: none;
	font-size: 1rem;
	text-transform: none;
}

p {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}

h2 + span {
	font-family: 'Taviraj', sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
}

nav li {
	border-bottom: 2px solid #ffffff;
}

nav li a {
	font-size: 1.5rem;	
}

nav li:hover {
	transition: all 1s ease;
	background: #ffffff; /* Old browsers */
	}
	
nav li:hover:nth-of-type(1) {
	border-bottom: 2px solid rgba(255, 78, 50);
	box-shadow: 0 -5px 10px rgba(255, 78, 50, 0.1);
	}
	
nav li:hover:nth-of-type(2) {
	border-bottom: 2px solid rgba(246, 204, 85);
	box-shadow: 0 -5px 10px rgba(246, 204, 85, 0.1);
	}	
	
nav li:hover:nth-of-type(3) {
	border-bottom: 2px solid rgba(9, 198, 58);
	box-shadow: 0 -5px 10px rgba(9, 198, 58, 0.1);
	}	

@media screen and (min-width: 760px) {
	nav li a {
		font-size: 2rem;	
	}
}
